# Python for DE - Transforming Data

In [1]:
print(
    "------------------------------------------------------------------------------"
)
print("Use standard python libraries to do the transformations")
print(
    "------------------------------------------------------------------------------"
)

------------------------------------------------------------------------------
Use standard python libraries to do the transformations
------------------------------------------------------------------------------

In [2]:
# Question: How do you read data from a CSV file at ./data/sample_data.csv into a list of dictionaries?
import csv
input_csv = "sample_data.csv"

with open(input_csv, "r", encoding="utf-8") as f:
    csv_reader = csv.DictReader(f)
    
    # Ensure headers exist
    headers = csv_reader.fieldnames
    if headers is None:
        raise ValueError("CSV file has no headers!")

    data = [row for row in csv_reader]

data

[{'Customer_ID': '1',
  'Customer_Name': 'Henry Jones',
  'Age': '32',
  'Gender': 'Male',
  'Purchase_Amount': '1080000.66',
  'Purchase_Date': '2023-08-15'},
 {'Customer_ID': '2',
  'Customer_Name': 'Emma Rodriguez',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '62.4',
  'Purchase_Date': '2024-04-16'},
 {'Customer_ID': '3',
  'Customer_Name': 'Frank Martinez',
  'Age': '20',
  'Gender': 'Female',
  'Purchase_Amount': '443.47',
  'Purchase_Date': '2024-05-16'},
 {'Customer_ID': '4',
  'Customer_Name': 'Alice Rodriguez',
  'Age': '62',
  'Gender': 'Female',
  'Purchase_Amount': '729.69',
  'Purchase_Date': '2024-01-05'},
 {'Customer_ID': '5',
  'Customer_Name': 'Frank Miller',
  'Age': '33',
  'Gender': 'Female',
  'Purchase_Amount': '651.2',
  'Purchase_Date': '2024-05-23'},
 {'Customer_ID': '6',
  'Customer_Name': 'Emma Garcia',
  'Age': '22',
  'Gender': 'Female',
  'Purchase_Amount': '477.56',
  'Purchase_Date': '2023-09-02'},
 {'Customer_ID': '7',
  'Customer_Name': 'Grace Jones',
  'Age': '53',
  'Gender': 'Female',
  'Purchase_Amount': '29.72',
  'Purchase_Date': '2023-10-01'},
 {'Customer_ID': '8',
  'Customer_Name': 'Henry Smith',
  'Age': '41',
  'Gender': 'Male',
  'Purchase_Amount': '291.28',
  'Purchase_Date': '2024-02-01'},
 {'Customer_ID': '9',
  'Customer_Name': 'Emma Jones',
  'Age': '50',
  'Gender': 'Female',
  'Purchase_Amount': '575.69',
  'Purchase_Date': '2023-12-11'},
 {'Customer_ID': '10',
  'Customer_Name': 'Ivy Martinez',
  'Age': '44',
  'Gender': 'Female',
  'Purchase_Amount': '30.96',
  'Purchase_Date': '2024-05-11'},
 {'Customer_ID': '11',
  'Customer_Name': 'Grace Miller',
  'Age': '29',
  'Gender': 'Male',
  'Purchase_Amount': '321.42',
  'Purchase_Date': '2023-10-25'},
 {'Customer_ID': '12',
  'Customer_Name': 'Ivy Martinez',
  'Age': '68',
  'Gender': 'Male',
  'Purchase_Amount': '470.45',
  'Purchase_Date': '2023-06-05'},
 {'Customer_ID': '13',
  'Customer_Name': 'Charlie Jones',
  'Age': '24',
  'Gender': 'Female',
  'Purchase_Amount': '330.87',
  'Purchase_Date': '2023-11-11'},
 {'Customer_ID': '14',
  'Customer_Name': 'Frank Rodriguez',
  'Age': '51',
  'Gender': 'Female',
  'Purchase_Amount': '483.61',
  'Purchase_Date': '2024-05-06'},
 {'Customer_ID': '15',
  'Customer_Name': 'Alice Jones',
  'Age': '53',
  'Gender': 'Male',
  'Purchase_Amount': '647.13',
  'Purchase_Date': '2023-12-07'},
 {'Customer_ID': '16',
  'Customer_Name': 'Grace Miller',
  'Age': '36',
  'Gender': 'Female',
  'Purchase_Amount': '691.85',
  'Purchase_Date': '2023-09-25'},
 {'Customer_ID': '17',
  'Customer_Name': 'Charlie Miller',
  'Age': '27',
  'Gender': 'Male',
  'Purchase_Amount': '840.67',
  'Purchase_Date': '2023-07-09'},
 {'Customer_ID': '18',
  'Customer_Name': 'Jack Martinez',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '831.8',
  'Purchase_Date': '2023-11-07'},
 {'Customer_ID': '19',
  'Customer_Name': 'Emma Martinez',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '399.76',
  'Purchase_Date': '2024-02-04'},
 {'Customer_ID': '20',
  'Customer_Name': 'Grace Miller',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '917.93',
  'Purchase_Date': '2023-12-24'},
 {'Customer_ID': '21',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '21',
  'Gender': 'Female',
  'Purchase_Amount': '389.69',
  'Purchase_Date': '2023-07-19'},
 {'Customer_ID': '22',
  'Customer_Name': 'Ivy Brown',
  'Age': '34',
  'Gender': 'Male',
  'Purchase_Amount': '697.0',
  'Purchase_Date': '2023-07-15'},
 {'Customer_ID': '23',
  'Customer_Name': 'Jack Miller',
  'Age': '55',
  'Gender': 'Male',
  'Purchase_Amount': '838.01',
  'Purchase_Date': '2023-10-22'},
 {'Customer_ID': '24',
  'Customer_Name': 'Ivy Martinez',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '620.28',
  'Purchase_Date': '2024-01-19'},
 {'Customer_ID': '25',
  'Customer_Name': 'David Johnson',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '964.04',
  'Purchase_Date': '2023-12-30'},
 {'Customer_ID': '26',
  'Customer_Name': 'David Smith',
  'Age': '36',
  'Gender': 'Female',
  'Purchase_Amount': '231.88',
  'Purchase_Date': '2024-05-27'},
 {'Customer_ID': '27',
  'Customer_Name': 'Ivy Martinez',
  'Age': '22',
  'Gender': 'Female',
  'Purchase_Amount': '115.68',
  'Purchase_Date': '2023-08-24'},
 {'Customer_ID': '28',
  'Customer_Name': 'Henry Martinez',
  'Age': '62',
  'Gender': 'Male',
  'Purchase_Amount': '735.66',
  'Purchase_Date': '2023-12-07'},
 {'Customer_ID': '29',
  'Customer_Name': 'Charlie Garcia',
  'Age': '42',
  'Gender': 'Female',
  'Purchase_Amount': '696.19',
  'Purchase_Date': '2023-07-26'},
 {'Customer_ID': '30',
  'Customer_Name': 'Grace Davis',
  'Age': '30',
  'Gender': 'Female',
  'Purchase_Amount': '566.13',
  'Purchase_Date': '2023-07-18'},
 {'Customer_ID': '31',
  'Customer_Name': 'Grace Smith',
  'Age': '19',
  'Gender': 'Male',
  'Purchase_Amount': '567.3',
  'Purchase_Date': '2024-04-13'},
 {'Customer_ID': '32',
  'Customer_Name': 'Emma Jones',
  'Age': '58',
  'Gender': 'Male',
  'Purchase_Amount': '299.82',
  'Purchase_Date': '2024-03-21'},
 {'Customer_ID': '33',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '43',
  'Gender': 'Male',
  'Purchase_Amount': '366.42',
  'Purchase_Date': '2023-07-30'},
 {'Customer_ID': '34',
  'Customer_Name': 'Alice Garcia',
  'Age': '54',
  'Gender': 'Male',
  'Purchase_Amount': '874.08',
  'Purchase_Date': '2024-04-17'},
 {'Customer_ID': '35',
  'Customer_Name': 'Grace Williams',
  'Age': '58',
  'Gender': 'Male',
  'Purchase_Amount': '139.01',
  'Purchase_Date': '2024-04-23'},
 {'Customer_ID': '36',
  'Customer_Name': 'Frank Johnson',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '637.05',
  'Purchase_Date': '2023-08-06'},
 {'Customer_ID': '37',
  'Customer_Name': 'Ivy Miller',
  'Age': '37',
  'Gender': 'Male',
  'Purchase_Amount': '787.06',
  'Purchase_Date': '2024-05-04'},
 {'Customer_ID': '38',
  'Customer_Name': 'Charlie Rodriguez',
  'Age': '52',
  'Gender': 'Female',
  'Purchase_Amount': '853.47',
  'Purchase_Date': '2023-11-26'},
 {'Customer_ID': '39',
  'Customer_Name': 'Grace Garcia',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '901.82',
  'Purchase_Date': '2023-12-09'},
 {'Customer_ID': '40',
  'Customer_Name': 'Emma Martinez',
  'Age': '61',
  'Gender': 'Male',
  'Purchase_Amount': '180.92',
  'Purchase_Date': '2023-10-02'},
 {'Customer_ID': '41',
  'Customer_Name': 'Alice Jones',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '373.03',
  'Purchase_Date': '2024-03-16'},
 {'Customer_ID': '42',
  'Customer_Name': 'Charlie Smith',
  'Age': '66',
  'Gender': 'Male',
  'Purchase_Amount': '392.27',
  'Purchase_Date': '2023-11-03'},
 {'Customer_ID': '43',
  'Customer_Name': 'Bob Williams',
  'Age': '35',
  'Gender': 'Female',
  'Purchase_Amount': '319.58',
  'Purchase_Date': '2024-03-29'},
 {'Customer_ID': '44',
  'Customer_Name': 'Frank Garcia',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '917.63',
  'Purchase_Date': '2023-07-26'},
 {'Customer_ID': '45',
  'Customer_Name': 'Frank Martinez',
  'Age': '38',
  'Gender': 'Male',
  'Purchase_Amount': '313.45',
  'Purchase_Date': '2024-01-14'},
 {'Customer_ID': '46',
  'Customer_Name': 'Ivy Brown',
  'Age': '47',
  'Gender': 'Female',
  'Purchase_Amount': '349.88',
  'Purchase_Date': '2023-07-05'},
 {'Customer_ID': '47',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '23',
  'Gender': 'Female',
  'Purchase_Amount': '933.63',
  'Purchase_Date': '2024-03-18'},
 {'Customer_ID': '48',
  'Customer_Name': 'Alice Smith',
  'Age': '23',
  'Gender': 'Female',
  'Purchase_Amount': '762.86',
  'Purchase_Date': '2024-03-04'},
 {'Customer_ID': '49',
  'Customer_Name': 'Alice Brown',
  'Age': '29',
  'Gender': 'Female',
  'Purchase_Amount': '920.49',
  'Purchase_Date': '2024-04-30'},
 {'Customer_ID': '50',
  'Customer_Name': 'Bob Smith',
  'Age': '38',
  'Gender': 'Female',
  'Purchase_Amount': '104.47',
  'Purchase_Date': '2023-12-31'},
 {'Customer_ID': '51',
  'Customer_Name': 'Frank Brown',
  'Age': '46',
  'Gender': 'Male',
  'Purchase_Amount': '621.47',
  'Purchase_Date': '2023-12-30'},
 {'Customer_ID': '52',
  'Customer_Name': 'Frank Johnson',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '281.35',
  'Purchase_Date': '2023-07-02'},
 {'Customer_ID': '53',
  'Customer_Name': 'Alice Miller',
  'Age': '31',
  'Gender': 'Female',
  'Purchase_Amount': '396.19',
  'Purchase_Date': '2023-09-17'},
 {'Customer_ID': '54',
  'Customer_Name': 'Emma Martinez',
  'Age': '39',
  'Gender': 'Female',
  'Purchase_Amount': '778.26',
  'Purchase_Date': '2024-05-08'},
 {'Customer_ID': '55',
  'Customer_Name': 'Grace Brown',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '388.92',
  'Purchase_Date': '2023-12-20'},
 {'Customer_ID': '56',
  'Customer_Name': 'Henry Miller',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '85.85',
  'Purchase_Date': '2024-02-26'},
 {'Customer_ID': '57',
  'Customer_Name': 'Charlie Martinez',
  'Age': '40',
  'Gender': 'Female',
  'Purchase_Amount': '268.41',
  'Purchase_Date': '2023-08-29'},
 {'Customer_ID': '58',
  'Customer_Name': 'Alice Jones',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '397.89',
  'Purchase_Date': '2023-10-04'},
 {'Customer_ID': '59',
  'Customer_Name': 'Grace Martinez',
  'Age': '37',
  'Gender': 'Male',
  'Purchase_Amount': '588.02',
  'Purchase_Date': '2024-03-13'},
 {'Customer_ID': '60',
  'Customer_Name': 'David Davis',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '698.82',
  'Purchase_Date': '2023-11-21'},
 {'Customer_ID': '61',
  'Customer_Name': 'Bob Garcia',
  'Age': '18',
  'Gender': 'Male',
  'Purchase_Amount': '194.19',
  'Purchase_Date': '2023-12-23'},
 {'Customer_ID': '62',
  'Customer_Name': 'Alice Davis',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '376.8',
  'Purchase_Date': '2024-03-20'},
 {'Customer_ID': '63',
  'Customer_Name': 'David Rodriguez',
  'Age': '48',
  'Gender': 'Male',
  'Purchase_Amount': '447.09',
  'Purchase_Date': '2023-09-05'},
 {'Customer_ID': '64',
  'Customer_Name': 'Henry Brown',
  'Age': '35',
  'Gender': 'Male',
  'Purchase_Amount': '823.0',
  'Purchase_Date': '2023-10-08'},
 {'Customer_ID': '65',
  'Customer_Name': 'Bob Garcia',
  'Age': '32',
  'Gender': 'Female',
  'Purchase_Amount': '726.87',
  'Purchase_Date': '2024-01-06'},
 {'Customer_ID': '66',
  'Customer_Name': 'Alice Davis',
  'Age': '68',
  'Gender': 'Male',
  'Purchase_Amount': '377.11',
  'Purchase_Date': '2024-02-22'},
 {'Customer_ID': '67',
  'Customer_Name': 'Frank Johnson',
  'Age': '60',
  'Gender': 'Female',
  'Purchase_Amount': '335.99',
  'Purchase_Date': '2023-10-03'},
 {'Customer_ID': '68',
  'Customer_Name': 'Frank Miller',
  'Age': '34',
  'Gender': 'Female',
  'Purchase_Amount': '873.36',
  'Purchase_Date': '2024-01-27'},
 {'Customer_ID': '69',
  'Customer_Name': 'Bob Martinez',
  'Age': '50',
  'Gender': 'Female',
  'Purchase_Amount': '574.54',
  'Purchase_Date': '2024-05-09'},
 {'Customer_ID': '70',
  'Customer_Name': 'Bob Williams',
  'Age': '48',
  'Gender': 'Female',
  'Purchase_Amount': '711.75',
  'Purchase_Date': '2024-04-11'},
 {'Customer_ID': '71',
  'Customer_Name': 'Henry Williams',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '323.66',
  'Purchase_Date': '2023-08-20'},
 {'Customer_ID': '72',
  'Customer_Name': 'Frank Miller',
  'Age': '66',
  'Gender': 'Female',
  'Purchase_Amount': '932.36',
  'Purchase_Date': '2024-02-19'},
 {'Customer_ID': '73',
  'Customer_Name': 'Jack Rodriguez',
  'Age': '70',
  'Gender': 'Male',
  'Purchase_Amount': '114.88',
  'Purchase_Date': '2023-06-21'},
 {'Customer_ID': '74',
  'Customer_Name': 'Emma Johnson',
  'Age': '21',
  'Gender': 'Female',
  'Purchase_Amount': '529.71',
  'Purchase_Date': '2023-08-11'},
 {'Customer_ID': '75',
  'Customer_Name': 'Ivy Williams',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '779.41',
  'Purchase_Date': '2023-12-04'},
 {'Customer_ID': '76',
  'Customer_Name': 'David Rodriguez',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '212.29',
  'Purchase_Date': '2024-03-16'},
 {'Customer_ID': '77',
  'Customer_Name': 'Frank Rodriguez',
  'Age': '69',
  'Gender': 'Female',
  'Purchase_Amount': '586.67',
  'Purchase_Date': '2024-04-25'},
 {'Customer_ID': '78',
  'Customer_Name': 'Charlie Miller',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '510.7',
  'Purchase_Date': '2024-02-04'},
 {'Customer_ID': '79',
  'Customer_Name': 'Bob Brown',
  'Age': '27',
  'Gender': 'Female',
  'Purchase_Amount': '761.49',
  'Purchase_Date': '2024-05-20'},
 {'Customer_ID': '80',
  'Customer_Name': 'Charlie Jones',
  'Age': '38',
  'Gender': 'Female',
  'Purchase_Amount': '282.35',
  'Purchase_Date': '2024-04-14'},
 {'Customer_ID': '81',
  'Customer_Name': 'Bob Rodriguez',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '439.0',
  'Purchase_Date': '2024-03-09'},
 {'Customer_ID': '82',
  'Customer_Name': 'Jack Miller',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '293.95',
  'Purchase_Date': '2023-10-25'},
 {'Customer_ID': '83',
  'Customer_Name': 'Alice Martinez',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '185.83',
  'Purchase_Date': '2024-02-20'},
 {'Customer_ID': '84',
  'Customer_Name': 'David Jones',
  'Age': '25',
  'Gender': 'Male',
  'Purchase_Amount': '578.27',
  'Purchase_Date': '2023-07-14'},
 {'Customer_ID': '85',
  'Customer_Name': 'Emma Jones',
  'Age': '69',
  'Gender': 'Female',
  'Purchase_Amount': '480.21',
  'Purchase_Date': '2024-05-17'},
 {'Customer_ID': '86',
  'Customer_Name': 'Bob Garcia',
  'Age': '34',
  'Gender': 'Male',
  'Purchase_Amount': '906.17',
  'Purchase_Date': '2024-01-27'},
 {'Customer_ID': '87',
  'Customer_Name': 'Henry Johnson',
  'Age': '27',
  'Gender': 'Female',
  'Purchase_Amount': '586.82',
  'Purchase_Date': '2023-08-02'},
 {'Customer_ID': '88',
  'Customer_Name': 'Jack Rodriguez',
  'Age': '30',
  'Gender': 'Male',
  'Purchase_Amount': '840.43',
  'Purchase_Date': '2023-07-27'},
 {'Customer_ID': '89',
  'Customer_Name': 'Alice Smith',
  'Age': '19',
  'Gender': 'Female',
  'Purchase_Amount': '602.63',
  'Purchase_Date': '2024-04-01'},
 {'Customer_ID': '90',
  'Customer_Name': 'Ivy Davis',
  'Age': '55',
  'Gender': 'Female',
  'Purchase_Amount': '405.7',
  'Purchase_Date': '2024-04-10'},
 {'Customer_ID': '91',
  'Customer_Name': 'Alice Jones',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '960.03',
  'Purchase_Date': '2023-12-26'},
 {'Customer_ID': '92',
  'Customer_Name': 'Ivy Brown',
  'Age': '19',
  'Gender': 'Female',
  'Purchase_Amount': '676.08',
  'Purchase_Date': '2023-12-18'},
 {'Customer_ID': '93',
  'Customer_Name': 'Bob Rodriguez',
  'Age': '26',
  'Gender': 'Male',
  'Purchase_Amount': '891.46',
  'Purchase_Date': '2024-01-22'},
 {'Customer_ID': '94',
  'Customer_Name': 'Ivy Brown',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '489.22',
  'Purchase_Date': '2024-05-03'},
 {'Customer_ID': '95',
  'Customer_Name': 'Jack Brown',
  'Age': '51',
  'Gender': 'Female',
  'Purchase_Amount': '649.88',
  'Purchase_Date': '2024-05-13'},
 {'Customer_ID': '96',
  'Customer_Name': 'Grace Miller',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '461.16',
  'Purchase_Date': '2023-12-03'},
 {'Customer_ID': '97',
  'Customer_Name': 'Ivy Brown',
  'Age': '21',
  'Gender': 'Male',
  'Purchase_Amount': '465.45',
  'Purchase_Date': '2023-09-06'},
 {'Customer_ID': '98',
  'Customer_Name': 'Grace Davis',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '796.25',
  'Purchase_Date': '2023-07-07'},
 {'Customer_ID': '84',
  'Customer_Name': 'David Jones',
  'Age': '25',
  'Gender': 'Male',
  'Purchase_Amount': '578.27',
  'Purchase_Date': '2023-07-14'},
 {'Customer_ID': '85',
  'Customer_Name': 'Emma Jones',
  'Age': '69',
  'Gender': 'Female',
  'Purchase_Amount': '480.21',
  'Purchase_Date': '2024-05-17'},
 {'Customer_ID': '86',
  'Customer_Name': 'Bob Garcia',
  'Age': '34',
  'Gender': 'Male',
  'Purchase_Amount': '906.17',
  'Purchase_Date': '2024-01-27'},
 {'Customer_ID': '87',
  'Customer_Name': 'Henry Johnson',
  'Age': '27',
  'Gender': 'Female',
  'Purchase_Amount': '586.82',
  'Purchase_Date': '2023-08-02'},
 {'Customer_ID': '88',
  'Customer_Name': 'Jack Rodriguez',
  'Age': '30',
  'Gender': 'Male',
  'Purchase_Amount': '840.43',
  'Purchase_Date': '2023-07-27'},
 {'Customer_ID': '89',
  'Customer_Name': 'Alice Smith',
  'Age': '19',
  'Gender': 'Female',
  'Purchase_Amount': '602.63',
  'Purchase_Date': '2024-04-01'},
 {'Customer_ID': '90',
  'Customer_Name': 'Ivy Davis',
  'Age': '55',
  'Gender': 'Female',
  'Purchase_Amount': '405.7',
  'Purchase_Date': '2024-04-10'},
 {'Customer_ID': '91',
  'Customer_Name': 'Alice Jones',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '960.03',
  'Purchase_Date': '2023-12-26'},
 {'Customer_ID': '99',
  'Customer_Name': 'Alice Johnson',
  'Age': '',
  'Gender': 'Female',
  'Purchase_Amount': '781.83',
  'Purchase_Date': '2023-06-04'},
 {'Customer_ID': '100',
  'Customer_Name': 'Jack Garcia',
  'Age': '',
  'Gender': 'Female',
  'Purchase_Amount': '269.64',
  'Purchase_Date': '2024-03-08'}]

In [3]:
# Question: How do you remove duplicate rows based on customer ID?
seen_ids = set()
filtered_data = []

for row in data:
    if row["Customer_ID"] not in seen_ids:
        seen_ids.add(row["Customer_ID"])
        filtered_data.append(row)

filtered_data

[{'Customer_ID': '1',
  'Customer_Name': 'Henry Jones',
  'Age': '32',
  'Gender': 'Male',
  'Purchase_Amount': '1080000.66',
  'Purchase_Date': '2023-08-15'},
 {'Customer_ID': '2',
  'Customer_Name': 'Emma Rodriguez',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '62.4',
  'Purchase_Date': '2024-04-16'},
 {'Customer_ID': '3',
  'Customer_Name': 'Frank Martinez',
  'Age': '20',
  'Gender': 'Female',
  'Purchase_Amount': '443.47',
  'Purchase_Date': '2024-05-16'},
 {'Customer_ID': '4',
  'Customer_Name': 'Alice Rodriguez',
  'Age': '62',
  'Gender': 'Female',
  'Purchase_Amount': '729.69',
  'Purchase_Date': '2024-01-05'},
 {'Customer_ID': '5',
  'Customer_Name': 'Frank Miller',
  'Age': '33',
  'Gender': 'Female',
  'Purchase_Amount': '651.2',
  'Purchase_Date': '2024-05-23'},
 {'Customer_ID': '6',
  'Customer_Name': 'Emma Garcia',
  'Age': '22',
  'Gender': 'Female',
  'Purchase_Amount': '477.56',
  'Purchase_Date': '2023-09-02'},
 {'Customer_ID': '7',
  'Customer_Name': 'Grace Jones',
  'Age': '53',
  'Gender': 'Female',
  'Purchase_Amount': '29.72',
  'Purchase_Date': '2023-10-01'},
 {'Customer_ID': '8',
  'Customer_Name': 'Henry Smith',
  'Age': '41',
  'Gender': 'Male',
  'Purchase_Amount': '291.28',
  'Purchase_Date': '2024-02-01'},
 {'Customer_ID': '9',
  'Customer_Name': 'Emma Jones',
  'Age': '50',
  'Gender': 'Female',
  'Purchase_Amount': '575.69',
  'Purchase_Date': '2023-12-11'},
 {'Customer_ID': '10',
  'Customer_Name': 'Ivy Martinez',
  'Age': '44',
  'Gender': 'Female',
  'Purchase_Amount': '30.96',
  'Purchase_Date': '2024-05-11'},
 {'Customer_ID': '11',
  'Customer_Name': 'Grace Miller',
  'Age': '29',
  'Gender': 'Male',
  'Purchase_Amount': '321.42',
  'Purchase_Date': '2023-10-25'},
 {'Customer_ID': '12',
  'Customer_Name': 'Ivy Martinez',
  'Age': '68',
  'Gender': 'Male',
  'Purchase_Amount': '470.45',
  'Purchase_Date': '2023-06-05'},
 {'Customer_ID': '13',
  'Customer_Name': 'Charlie Jones',
  'Age': '24',
  'Gender': 'Female',
  'Purchase_Amount': '330.87',
  'Purchase_Date': '2023-11-11'},
 {'Customer_ID': '14',
  'Customer_Name': 'Frank Rodriguez',
  'Age': '51',
  'Gender': 'Female',
  'Purchase_Amount': '483.61',
  'Purchase_Date': '2024-05-06'},
 {'Customer_ID': '15',
  'Customer_Name': 'Alice Jones',
  'Age': '53',
  'Gender': 'Male',
  'Purchase_Amount': '647.13',
  'Purchase_Date': '2023-12-07'},
 {'Customer_ID': '16',
  'Customer_Name': 'Grace Miller',
  'Age': '36',
  'Gender': 'Female',
  'Purchase_Amount': '691.85',
  'Purchase_Date': '2023-09-25'},
 {'Customer_ID': '17',
  'Customer_Name': 'Charlie Miller',
  'Age': '27',
  'Gender': 'Male',
  'Purchase_Amount': '840.67',
  'Purchase_Date': '2023-07-09'},
 {'Customer_ID': '18',
  'Customer_Name': 'Jack Martinez',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '831.8',
  'Purchase_Date': '2023-11-07'},
 {'Customer_ID': '19',
  'Customer_Name': 'Emma Martinez',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '399.76',
  'Purchase_Date': '2024-02-04'},
 {'Customer_ID': '20',
  'Customer_Name': 'Grace Miller',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '917.93',
  'Purchase_Date': '2023-12-24'},
 {'Customer_ID': '21',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '21',
  'Gender': 'Female',
  'Purchase_Amount': '389.69',
  'Purchase_Date': '2023-07-19'},
 {'Customer_ID': '22',
  'Customer_Name': 'Ivy Brown',
  'Age': '34',
  'Gender': 'Male',
  'Purchase_Amount': '697.0',
  'Purchase_Date': '2023-07-15'},
 {'Customer_ID': '23',
  'Customer_Name': 'Jack Miller',
  'Age': '55',
  'Gender': 'Male',
  'Purchase_Amount': '838.01',
  'Purchase_Date': '2023-10-22'},
 {'Customer_ID': '24',
  'Customer_Name': 'Ivy Martinez',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '620.28',
  'Purchase_Date': '2024-01-19'},
 {'Customer_ID': '25',
  'Customer_Name': 'David Johnson',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '964.04',
  'Purchase_Date': '2023-12-30'},
 {'Customer_ID': '26',
  'Customer_Name': 'David Smith',
  'Age': '36',
  'Gender': 'Female',
  'Purchase_Amount': '231.88',
  'Purchase_Date': '2024-05-27'},
 {'Customer_ID': '27',
  'Customer_Name': 'Ivy Martinez',
  'Age': '22',
  'Gender': 'Female',
  'Purchase_Amount': '115.68',
  'Purchase_Date': '2023-08-24'},
 {'Customer_ID': '28',
  'Customer_Name': 'Henry Martinez',
  'Age': '62',
  'Gender': 'Male',
  'Purchase_Amount': '735.66',
  'Purchase_Date': '2023-12-07'},
 {'Customer_ID': '29',
  'Customer_Name': 'Charlie Garcia',
  'Age': '42',
  'Gender': 'Female',
  'Purchase_Amount': '696.19',
  'Purchase_Date': '2023-07-26'},
 {'Customer_ID': '30',
  'Customer_Name': 'Grace Davis',
  'Age': '30',
  'Gender': 'Female',
  'Purchase_Amount': '566.13',
  'Purchase_Date': '2023-07-18'},
 {'Customer_ID': '31',
  'Customer_Name': 'Grace Smith',
  'Age': '19',
  'Gender': 'Male',
  'Purchase_Amount': '567.3',
  'Purchase_Date': '2024-04-13'},
 {'Customer_ID': '32',
  'Customer_Name': 'Emma Jones',
  'Age': '58',
  'Gender': 'Male',
  'Purchase_Amount': '299.82',
  'Purchase_Date': '2024-03-21'},
 {'Customer_ID': '33',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '43',
  'Gender': 'Male',
  'Purchase_Amount': '366.42',
  'Purchase_Date': '2023-07-30'},
 {'Customer_ID': '34',
  'Customer_Name': 'Alice Garcia',
  'Age': '54',
  'Gender': 'Male',
  'Purchase_Amount': '874.08',
  'Purchase_Date': '2024-04-17'},
 {'Customer_ID': '35',
  'Customer_Name': 'Grace Williams',
  'Age': '58',
  'Gender': 'Male',
  'Purchase_Amount': '139.01',
  'Purchase_Date': '2024-04-23'},
 {'Customer_ID': '36',
  'Customer_Name': 'Frank Johnson',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '637.05',
  'Purchase_Date': '2023-08-06'},
 {'Customer_ID': '37',
  'Customer_Name': 'Ivy Miller',
  'Age': '37',
  'Gender': 'Male',
  'Purchase_Amount': '787.06',
  'Purchase_Date': '2024-05-04'},
 {'Customer_ID': '38',
  'Customer_Name': 'Charlie Rodriguez',
  'Age': '52',
  'Gender': 'Female',
  'Purchase_Amount': '853.47',
  'Purchase_Date': '2023-11-26'},
 {'Customer_ID': '39',
  'Customer_Name': 'Grace Garcia',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '901.82',
  'Purchase_Date': '2023-12-09'},
 {'Customer_ID': '40',
  'Customer_Name': 'Emma Martinez',
  'Age': '61',
  'Gender': 'Male',
  'Purchase_Amount': '180.92',
  'Purchase_Date': '2023-10-02'},
 {'Customer_ID': '41',
  'Customer_Name': 'Alice Jones',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '373.03',
  'Purchase_Date': '2024-03-16'},
 {'Customer_ID': '42',
  'Customer_Name': 'Charlie Smith',
  'Age': '66',
  'Gender': 'Male',
  'Purchase_Amount': '392.27',
  'Purchase_Date': '2023-11-03'},
 {'Customer_ID': '43',
  'Customer_Name': 'Bob Williams',
  'Age': '35',
  'Gender': 'Female',
  'Purchase_Amount': '319.58',
  'Purchase_Date': '2024-03-29'},
 {'Customer_ID': '44',
  'Customer_Name': 'Frank Garcia',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '917.63',
  'Purchase_Date': '2023-07-26'},
 {'Customer_ID': '45',
  'Customer_Name': 'Frank Martinez',
  'Age': '38',
  'Gender': 'Male',
  'Purchase_Amount': '313.45',
  'Purchase_Date': '2024-01-14'},
 {'Customer_ID': '46',
  'Customer_Name': 'Ivy Brown',
  'Age': '47',
  'Gender': 'Female',
  'Purchase_Amount': '349.88',
  'Purchase_Date': '2023-07-05'},
 {'Customer_ID': '47',
  'Customer_Name': 'Grace Rodriguez',
  'Age': '23',
  'Gender': 'Female',
  'Purchase_Amount': '933.63',
  'Purchase_Date': '2024-03-18'},
 {'Customer_ID': '48',
  'Customer_Name': 'Alice Smith',
  'Age': '23',
  'Gender': 'Female',
  'Purchase_Amount': '762.86',
  'Purchase_Date': '2024-03-04'},
 {'Customer_ID': '49',
  'Customer_Name': 'Alice Brown',
  'Age': '29',
  'Gender': 'Female',
  'Purchase_Amount': '920.49',
  'Purchase_Date': '2024-04-30'},
 {'Customer_ID': '50',
  'Customer_Name': 'Bob Smith',
  'Age': '38',
  'Gender': 'Female',
  'Purchase_Amount': '104.47',
  'Purchase_Date': '2023-12-31'},
 {'Customer_ID': '51',
  'Customer_Name': 'Frank Brown',
  'Age': '46',
  'Gender': 'Male',
  'Purchase_Amount': '621.47',
  'Purchase_Date': '2023-12-30'},
 {'Customer_ID': '52',
  'Customer_Name': 'Frank Johnson',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '281.35',
  'Purchase_Date': '2023-07-02'},
 {'Customer_ID': '53',
  'Customer_Name': 'Alice Miller',
  'Age': '31',
  'Gender': 'Female',
  'Purchase_Amount': '396.19',
  'Purchase_Date': '2023-09-17'},
 {'Customer_ID': '54',
  'Customer_Name': 'Emma Martinez',
  'Age': '39',
  'Gender': 'Female',
  'Purchase_Amount': '778.26',
  'Purchase_Date': '2024-05-08'},
 {'Customer_ID': '55',
  'Customer_Name': 'Grace Brown',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '388.92',
  'Purchase_Date': '2023-12-20'},
 {'Customer_ID': '56',
  'Customer_Name': 'Henry Miller',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '85.85',
  'Purchase_Date': '2024-02-26'},
 {'Customer_ID': '57',
  'Customer_Name': 'Charlie Martinez',
  'Age': '40',
  'Gender': 'Female',
  'Purchase_Amount': '268.41',
  'Purchase_Date': '2023-08-29'},
 {'Customer_ID': '58',
  'Customer_Name': 'Alice Jones',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '397.89',
  'Purchase_Date': '2023-10-04'},
 {'Customer_ID': '59',
  'Customer_Name': 'Grace Martinez',
  'Age': '37',
  'Gender': 'Male',
  'Purchase_Amount': '588.02',
  'Purchase_Date': '2024-03-13'},
 {'Customer_ID': '60',
  'Customer_Name': 'David Davis',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '698.82',
  'Purchase_Date': '2023-11-21'},
 {'Customer_ID': '61',
  'Customer_Name': 'Bob Garcia',
  'Age': '18',
  'Gender': 'Male',
  'Purchase_Amount': '194.19',
  'Purchase_Date': '2023-12-23'},
 {'Customer_ID': '62',
  'Customer_Name': 'Alice Davis',
  'Age': '50',
  'Gender': 'Male',
  'Purchase_Amount': '376.8',
  'Purchase_Date': '2024-03-20'},
 {'Customer_ID': '63',
  'Customer_Name': 'David Rodriguez',
  'Age': '48',
  'Gender': 'Male',
  'Purchase_Amount': '447.09',
  'Purchase_Date': '2023-09-05'},
 {'Customer_ID': '64',
  'Customer_Name': 'Henry Brown',
  'Age': '35',
  'Gender': 'Male',
  'Purchase_Amount': '823.0',
  'Purchase_Date': '2023-10-08'},
 {'Customer_ID': '65',
  'Customer_Name': 'Bob Garcia',
  'Age': '32',
  'Gender': 'Female',
  'Purchase_Amount': '726.87',
  'Purchase_Date': '2024-01-06'},
 {'Customer_ID': '66',
  'Customer_Name': 'Alice Davis',
  'Age': '68',
  'Gender': 'Male',
  'Purchase_Amount': '377.11',
  'Purchase_Date': '2024-02-22'},
 {'Customer_ID': '67',
  'Customer_Name': 'Frank Johnson',
  'Age': '60',
  'Gender': 'Female',
  'Purchase_Amount': '335.99',
  'Purchase_Date': '2023-10-03'},
 {'Customer_ID': '68',
  'Customer_Name': 'Frank Miller',
  'Age': '34',
  'Gender': 'Female',
  'Purchase_Amount': '873.36',
  'Purchase_Date': '2024-01-27'},
 {'Customer_ID': '69',
  'Customer_Name': 'Bob Martinez',
  'Age': '50',
  'Gender': 'Female',
  'Purchase_Amount': '574.54',
  'Purchase_Date': '2024-05-09'},
 {'Customer_ID': '70',
  'Customer_Name': 'Bob Williams',
  'Age': '48',
  'Gender': 'Female',
  'Purchase_Amount': '711.75',
  'Purchase_Date': '2024-04-11'},
 {'Customer_ID': '71',
  'Customer_Name': 'Henry Williams',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '323.66',
  'Purchase_Date': '2023-08-20'},
 {'Customer_ID': '72',
  'Customer_Name': 'Frank Miller',
  'Age': '66',
  'Gender': 'Female',
  'Purchase_Amount': '932.36',
  'Purchase_Date': '2024-02-19'},
 {'Customer_ID': '73',
  'Customer_Name': 'Jack Rodriguez',
  'Age': '70',
  'Gender': 'Male',
  'Purchase_Amount': '114.88',
  'Purchase_Date': '2023-06-21'},
 {'Customer_ID': '74',
  'Customer_Name': 'Emma Johnson',
  'Age': '21',
  'Gender': 'Female',
  'Purchase_Amount': '529.71',
  'Purchase_Date': '2023-08-11'},
 {'Customer_ID': '75',
  'Customer_Name': 'Ivy Williams',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '779.41',
  'Purchase_Date': '2023-12-04'},
 {'Customer_ID': '76',
  'Customer_Name': 'David Rodriguez',
  'Age': '23',
  'Gender': 'Male',
  'Purchase_Amount': '212.29',
  'Purchase_Date': '2024-03-16'},
 {'Customer_ID': '77',
  'Customer_Name': 'Frank Rodriguez',
  'Age': '69',
  'Gender': 'Female',
  'Purchase_Amount': '586.67',
  'Purchase_Date': '2024-04-25'},
 {'Customer_ID': '78',
  'Customer_Name': 'Charlie Miller',
  'Age': '24',
  'Gender': 'Male',
  'Purchase_Amount': '510.7',
  'Purchase_Date': '2024-02-04'},
 {'Customer_ID': '79',
  'Customer_Name': 'Bob Brown',
  'Age': '27',
  'Gender': 'Female',
  'Purchase_Amount': '761.49',
  'Purchase_Date': '2024-05-20'},
 {'Customer_ID': '80',
  'Customer_Name': 'Charlie Jones',
  'Age': '38',
  'Gender': 'Female',
  'Purchase_Amount': '282.35',
  'Purchase_Date': '2024-04-14'},
 {'Customer_ID': '81',
  'Customer_Name': 'Bob Rodriguez',
  'Age': '54',
  'Gender': 'Female',
  'Purchase_Amount': '439.0',
  'Purchase_Date': '2024-03-09'},
 {'Customer_ID': '82',
  'Customer_Name': 'Jack Miller',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '293.95',
  'Purchase_Date': '2023-10-25'},
 {'Customer_ID': '83',
  'Customer_Name': 'Alice Martinez',
  'Age': '41',
  'Gender': 'Female',
  'Purchase_Amount': '185.83',
  'Purchase_Date': '2024-02-20'},
 {'Customer_ID': '84',
  'Customer_Name': 'David Jones',
  'Age': '25',
  'Gender': 'Male',
  'Purchase_Amount': '578.27',
  'Purchase_Date': '2023-07-14'},
 {'Customer_ID': '85',
  'Customer_Name': 'Emma Jones',
  'Age': '69',
  'Gender': 'Female',
  'Purchase_Amount': '480.21',
  'Purchase_Date': '2024-05-17'},
 {'Customer_ID': '86',
  'Customer_Name': 'Bob Garcia',
  'Age': '34',
  'Gender': 'Male',
  'Purchase_Amount': '906.17',
  'Purchase_Date': '2024-01-27'},
 {'Customer_ID': '87',
  'Customer_Name': 'Henry Johnson',
  'Age': '27',
  'Gender': 'Female',
  'Purchase_Amount': '586.82',
  'Purchase_Date': '2023-08-02'},
 {'Customer_ID': '88',
  'Customer_Name': 'Jack Rodriguez',
  'Age': '30',
  'Gender': 'Male',
  'Purchase_Amount': '840.43',
  'Purchase_Date': '2023-07-27'},
 {'Customer_ID': '89',
  'Customer_Name': 'Alice Smith',
  'Age': '19',
  'Gender': 'Female',
  'Purchase_Amount': '602.63',
  'Purchase_Date': '2024-04-01'},
 {'Customer_ID': '90',
  'Customer_Name': 'Ivy Davis',
  'Age': '55',
  'Gender': 'Female',
  'Purchase_Amount': '405.7',
  'Purchase_Date': '2024-04-10'},
 {'Customer_ID': '91',
  'Customer_Name': 'Alice Jones',
  'Age': '64',
  'Gender': 'Female',
  'Purchase_Amount': '960.03',
  'Purchase_Date': '2023-12-26'},
 {'Customer_ID': '92',
  'Customer_Name': 'Ivy Brown',
  'Age': '19',
  'Gender': 'Female',
  'Purchase_Amount': '676.08',
  'Purchase_Date': '2023-12-18'},
 {'Customer_ID': '93',
  'Customer_Name': 'Bob Rodriguez',
  'Age': '26',
  'Gender': 'Male',
  'Purchase_Amount': '891.46',
  'Purchase_Date': '2024-01-22'},
 {'Customer_ID': '94',
  'Customer_Name': 'Ivy Brown',
  'Age': '56',
  'Gender': 'Male',
  'Purchase_Amount': '489.22',
  'Purchase_Date': '2024-05-03'},
 {'Customer_ID': '95',
  'Customer_Name': 'Jack Brown',
  'Age': '51',
  'Gender': 'Female',
  'Purchase_Amount': '649.88',
  'Purchase_Date': '2024-05-13'},
 {'Customer_ID': '96',
  'Customer_Name': 'Grace Miller',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '461.16',
  'Purchase_Date': '2023-12-03'},
 {'Customer_ID': '97',
  'Customer_Name': 'Ivy Brown',
  'Age': '21',
  'Gender': 'Male',
  'Purchase_Amount': '465.45',
  'Purchase_Date': '2023-09-06'},
 {'Customer_ID': '98',
  'Customer_Name': 'Grace Davis',
  'Age': '42',
  'Gender': 'Male',
  'Purchase_Amount': '796.25',
  'Purchase_Date': '2023-07-07'},
 {'Customer_ID': '99',
  'Customer_Name': 'Alice Johnson',
  'Age': '',
  'Gender': 'Female',
  'Purchase_Amount': '781.83',
  'Purchase_Date': '2023-06-04'},
 {'Customer_ID': '100',
  'Customer_Name': 'Jack Garcia',
  'Age': '',
  'Gender': 'Female',
  'Purchase_Amount': '269.64',
  'Purchase_Date': '2024-03-08'}]

In [4]:
# Question: How do you handle missing values by replacing them with 0?
for row in data:
    for key in row.keys():
        if row[key] in ['', None]:  # Handles both empty strings and None values
            row[key] = 0
            print(f"Edited row: {row}")

Edited row: {'Customer_ID': '99', 'Customer_Name': 'Alice Johnson', 'Age': 0, 'Gender': 'Female', 'Purchase_Amount': '781.83', 'Purchase_Date': '2023-06-04'}
Edited row: {'Customer_ID': '100', 'Customer_Name': 'Jack Garcia', 'Age': 0, 'Gender': 'Female', 'Purchase_Amount': '269.64', 'Purchase_Date': '2024-03-08'}

In [5]:
# Question: How do you remove outliers such as age > 100 or purchase amount > 1000?
data = [row for row in data if int(row['Age']) <= 100 and float(row['Purchase_Amount']) <= 1000]

In [6]:
# Question: How do you convert the Gender column to a binary format (0 for Female, 1 for Male)?
for row in data:
    if row['Gender'] == 'Female':
        row['Gender'] = 0
    else:
        row['Gender'] = 1

data[:5]

[{'Customer_ID': '2',
  'Customer_Name': 'Emma Rodriguez',
  'Age': '24',
  'Gender': 1,
  'Purchase_Amount': '62.4',
  'Purchase_Date': '2024-04-16'},
 {'Customer_ID': '3',
  'Customer_Name': 'Frank Martinez',
  'Age': '20',
  'Gender': 0,
  'Purchase_Amount': '443.47',
  'Purchase_Date': '2024-05-16'},
 {'Customer_ID': '4',
  'Customer_Name': 'Alice Rodriguez',
  'Age': '62',
  'Gender': 0,
  'Purchase_Amount': '729.69',
  'Purchase_Date': '2024-01-05'},
 {'Customer_ID': '5',
  'Customer_Name': 'Frank Miller',
  'Age': '33',
  'Gender': 0,
  'Purchase_Amount': '651.2',
  'Purchase_Date': '2024-05-23'},
 {'Customer_ID': '6',
  'Customer_Name': 'Emma Garcia',
  'Age': '22',
  'Gender': 0,
  'Purchase_Amount': '477.56',
  'Purchase_Date': '2023-09-02'}]

In [7]:
# Question: How do you split the Customer_Name column into separate First_Name and Last_Name columns?
for row in data:
    name_parts = row['Customer_Name'].split()
    
    row['First_Name'] = name_parts[0]  # Always exists
    row['Last_Name'] = ' '.join(name_parts[1:]) if len(name_parts) > 1 else ''  # Join remaining parts or set empty
    
    del row['Customer_Name']

data[:3]

[{'Customer_ID': '2',
  'Age': '24',
  'Gender': 1,
  'Purchase_Amount': '62.4',
  'Purchase_Date': '2024-04-16',
  'First_Name': 'Emma',
  'Last_Name': 'Rodriguez'},
 {'Customer_ID': '3',
  'Age': '20',
  'Gender': 0,
  'Purchase_Amount': '443.47',
  'Purchase_Date': '2024-05-16',
  'First_Name': 'Frank',
  'Last_Name': 'Martinez'},
 {'Customer_ID': '4',
  'Age': '62',
  'Gender': 0,
  'Purchase_Amount': '729.69',
  'Purchase_Date': '2024-01-05',
  'First_Name': 'Alice',
  'Last_Name': 'Rodriguez'}]

In [8]:
# Question: How do you calculate the total purchase amount by Gender?
amount_by_gender = {
                    'male':0.0, 
                   'female':0.0
                   }
for row in data:
    purchase_amount = float(row['Purchase_Amount'])  # Convert once
    if row['Gender'] == 1: # male
        amount_by_gender['male'] += purchase_amount
    else:
        amount_by_gender['female'] += purchase_amount

print(f"Purchase Amount by Gender: {amount_by_gender}")

Purchase Amount by Gender: {'male': 26924.760000000002, 'female': 31251.170000000002}

In [9]:
# Question: How do you calculate the average purchase amount by Age group?
# assume age_groups is the grouping we want
# hint: Why do we convert to float?
age_groups = {"18-30": [], "31-40": [], "41-50": [], "51-60": [], "61-70": []}
for key in age_groups.keys():
    start_age, end_age = float(key.split('-')[0]), float(key.split('-')[1]) 
    for row in data:
        age = float(row['Age'])
        purchase_amount = float(row['Purchase_Amount'])
        # Check if the customer's age is within the range
        if start_age <= age <= end_age:
            age_groups[key].append(purchase_amount)  # Add purchase amount to the group

# Step 2: Calculate the average purchase amount for each age group
for key, purchases in age_groups.items():
    if purchases:  # Check if the list is not empty
        avg_purchase_amount = sum(purchases) / len(purchases)
        age_groups[key] = avg_purchase_amount
    else:
        age_groups[key] = 0  # No customers in this age group

print(age_groups)

{'18-30': 580.6584848484849, '31-40': 574.7383333333332, '41-50': 493.946, '51-60': 489.58444444444444, '61-70': 557.875}

In [10]:
# Question: How do you print the results for total purchase amount by Gender and average purchase amount by Age group?
your_total_purchase_amount_by_gender = amount_by_gender # your results should be assigned to this variable
average_purchase_by_age_group = age_groups # your results should be assigned to this variable

print(f"Total purchase amount by Gender: {your_total_purchase_amount_by_gender}")
print(f"Average purchase amount by Age group: {average_purchase_by_age_group}")

Total purchase amount by Gender: {'male': 26924.760000000002, 'female': 31251.170000000002}
Average purchase amount by Age group: {'18-30': 580.6584848484849, '31-40': 574.7383333333332, '41-50': 493.946, '51-60': 489.58444444444444, '61-70': 557.875}

In [11]:
print(
    "------------------------------------------------------------------------------"
)
print("Use DuckDB to do the transformations")
print(
    "------------------------------------------------------------------------------"
)

------------------------------------------------------------------------------
Use DuckDB to do the transformations
------------------------------------------------------------------------------

In [44]:
# Question: How do you connect to DuckDB and load data from a CSV file into a DuckDB table?
# Connect to DuckDB and load data
import csv
import duckdb

# CSV file path
input_csv = "sample_data.csv"

# Connect to DuckDB
duckdb_conn = duckdb.connect(database=":memory:", read_only=False)

duckdb_conn.execute("""
                    CREATE TABLE IF NOT EXISTS 
                    data
                    (Customer_ID INTEGER,
                    Customer_Name VARCHAR,
                    Age INTEGER,
                    Gender VARCHAR,
                    Purchase_amount FLOAT,
                    Purchase_date DATE
                    )
                    """)
duckdb_conn.execute(f"COPY data FROM {input_csv} WITH HEADER CSV")

duckdb_conn.execute("SELECT * FROM data").fetchall()

[(1, 'Henry Jones', 32, 'Male', 1080000.625, datetime.date(2023, 8, 15)),
 (2,
  'Emma Rodriguez',
  24,
  'Male',
  62.400001525878906,
  datetime.date(2024, 4, 16)),
 (3,
  'Frank Martinez',
  20,
  'Female',
  443.4700012207031,
  datetime.date(2024, 5, 16)),
 (4,
  'Alice Rodriguez',
  62,
  'Female',
  729.6900024414062,
  datetime.date(2024, 1, 5)),
 (5,
  'Frank Miller',
  33,
  'Female',
  651.2000122070312,
  datetime.date(2024, 5, 23)),
 (6,
  'Emma Garcia',
  22,
  'Female',
  477.55999755859375,
  datetime.date(2023, 9, 2)),
 (7,
  'Grace Jones',
  53,
  'Female',
  29.719999313354492,
  datetime.date(2023, 10, 1)),
 (8, 'Henry Smith', 41, 'Male', 291.2799987792969, datetime.date(2024, 2, 1)),
 (9,
  'Emma Jones',
  50,
  'Female',
  575.6900024414062,
  datetime.date(2023, 12, 11)),
 (10,
  'Ivy Martinez',
  44,
  'Female',
  30.959999084472656,
  datetime.date(2024, 5, 11)),
 (11,
  'Grace Miller',
  29,
  'Male',
  321.4200134277344,
  datetime.date(2023, 10, 25)),
 (12,
  'Ivy Martinez',
  68,
  'Male',
  470.45001220703125,
  datetime.date(2023, 6, 5)),
 (13,
  'Charlie Jones',
  24,
  'Female',
  330.8699951171875,
  datetime.date(2023, 11, 11)),
 (14,
  'Frank Rodriguez',
  51,
  'Female',
  483.6099853515625,
  datetime.date(2024, 5, 6)),
 (15,
  'Alice Jones',
  53,
  'Male',
  647.1300048828125,
  datetime.date(2023, 12, 7)),
 (16,
  'Grace Miller',
  36,
  'Female',
  691.8499755859375,
  datetime.date(2023, 9, 25)),
 (17,
  'Charlie Miller',
  27,
  'Male',
  840.6699829101562,
  datetime.date(2023, 7, 9)),
 (18,
  'Jack Martinez',
  64,
  'Female',
  831.7999877929688,
  datetime.date(2023, 11, 7)),
 (19,
  'Emma Martinez',
  64,
  'Female',
  399.760009765625,
  datetime.date(2024, 2, 4)),
 (20,
  'Grace Miller',
  56,
  'Male',
  917.9299926757812,
  datetime.date(2023, 12, 24)),
 (21,
  'Grace Rodriguez',
  21,
  'Female',
  389.69000244140625,
  datetime.date(2023, 7, 19)),
 (22, 'Ivy Brown', 34, 'Male', 697.0, datetime.date(2023, 7, 15)),
 (23,
  'Jack Miller',
  55,
  'Male',
  838.010009765625,
  datetime.date(2023, 10, 22)),
 (24,
  'Ivy Martinez',
  42,
  'Male',
  620.280029296875,
  datetime.date(2024, 1, 19)),
 (25,
  'David Johnson',
  41,
  'Female',
  964.0399780273438,
  datetime.date(2023, 12, 30)),
 (26,
  'David Smith',
  36,
  'Female',
  231.8800048828125,
  datetime.date(2024, 5, 27)),
 (27,
  'Ivy Martinez',
  22,
  'Female',
  115.68000030517578,
  datetime.date(2023, 8, 24)),
 (28,
  'Henry Martinez',
  62,
  'Male',
  735.6599731445312,
  datetime.date(2023, 12, 7)),
 (29,
  'Charlie Garcia',
  42,
  'Female',
  696.1900024414062,
  datetime.date(2023, 7, 26)),
 (30,
  'Grace Davis',
  30,
  'Female',
  566.1300048828125,
  datetime.date(2023, 7, 18)),
 (31,
  'Grace Smith',
  19,
  'Male',
  567.2999877929688,
  datetime.date(2024, 4, 13)),
 (32,
  'Emma Jones',
  58,
  'Male',
  299.82000732421875,
  datetime.date(2024, 3, 21)),
 (33,
  'Grace Rodriguez',
  43,
  'Male',
  366.4200134277344,
  datetime.date(2023, 7, 30)),
 (34,
  'Alice Garcia',
  54,
  'Male',
  874.0800170898438,
  datetime.date(2024, 4, 17)),
 (35,
  'Grace Williams',
  58,
  'Male',
  139.00999450683594,
  datetime.date(2024, 4, 23)),
 (36,
  'Frank Johnson',
  54,
  'Female',
  637.0499877929688,
  datetime.date(2023, 8, 6)),
 (37, 'Ivy Miller', 37, 'Male', 787.0599975585938, datetime.date(2024, 5, 4)),
 (38,
  'Charlie Rodriguez',
  52,
  'Female',
  853.469970703125,
  datetime.date(2023, 11, 26)),
 (39,
  'Grace Garcia',
  23,
  'Male',
  901.8200073242188,
  datetime.date(2023, 12, 9)),
 (40,
  'Emma Martinez',
  61,
  'Male',
  180.9199981689453,
  datetime.date(2023, 10, 2)),
 (41,
  'Alice Jones',
  23,
  'Male',
  373.0299987792969,
  datetime.date(2024, 3, 16)),
 (42,
  'Charlie Smith',
  66,
  'Male',
  392.2699890136719,
  datetime.date(2023, 11, 3)),
 (43,
  'Bob Williams',
  35,
  'Female',
  319.5799865722656,
  datetime.date(2024, 3, 29)),
 (44,
  'Frank Garcia',
  24,
  'Male',
  917.6300048828125,
  datetime.date(2023, 7, 26)),
 (45,
  'Frank Martinez',
  38,
  'Male',
  313.45001220703125,
  datetime.date(2024, 1, 14)),
 (46, 'Ivy Brown', 47, 'Female', 349.8800048828125, datetime.date(2023, 7, 5)),
 (47,
  'Grace Rodriguez',
  23,
  'Female',
  933.6300048828125,
  datetime.date(2024, 3, 18)),
 (48,
  'Alice Smith',
  23,
  'Female',
  762.8599853515625,
  datetime.date(2024, 3, 4)),
 (49,
  'Alice Brown',
  29,
  'Female',
  920.489990234375,
  datetime.date(2024, 4, 30)),
 (50,
  'Bob Smith',
  38,
  'Female',
  104.47000122070312,
  datetime.date(2023, 12, 31)),
 (51,
  'Frank Brown',
  46,
  'Male',
  621.469970703125,
  datetime.date(2023, 12, 30)),
 (52,
  'Frank Johnson',
  54,
  'Female',
  281.3500061035156,
  datetime.date(2023, 7, 2)),
 (53,
  'Alice Miller',
  31,
  'Female',
  396.19000244140625,
  datetime.date(2023, 9, 17)),
 (54,
  'Emma Martinez',
  39,
  'Female',
  778.260009765625,
  datetime.date(2024, 5, 8)),
 (55,
  'Grace Brown',
  50,
  'Male',
  388.9200134277344,
  datetime.date(2023, 12, 20)),
 (56,
  'Henry Miller',
  56,
  'Male',
  85.8499984741211,
  datetime.date(2024, 2, 26)),
 (57,
  'Charlie Martinez',
  40,
  'Female',
  268.4100036621094,
  datetime.date(2023, 8, 29)),
 (58,
  'Alice Jones',
  50,
  'Male',
  397.8900146484375,
  datetime.date(2023, 10, 4)),
 (59,
  'Grace Martinez',
  37,
  'Male',
  588.02001953125,
  datetime.date(2024, 3, 13)),
 (60,
  'David Davis',
  42,
  'Male',
  698.8200073242188,
  datetime.date(2023, 11, 21)),
 (61,
  'Bob Garcia',
  18,
  'Male',
  194.19000244140625,
  datetime.date(2023, 12, 23)),
 (62,
  'Alice Davis',
  50,
  'Male',
  376.79998779296875,
  datetime.date(2024, 3, 20)),
 (63,
  'David Rodriguez',
  48,
  'Male',
  447.0899963378906,
  datetime.date(2023, 9, 5)),
 (64, 'Henry Brown', 35, 'Male', 823.0, datetime.date(2023, 10, 8)),
 (65,
  'Bob Garcia',
  32,
  'Female',
  726.8699951171875,
  datetime.date(2024, 1, 6)),
 (66,
  'Alice Davis',
  68,
  'Male',
  377.1099853515625,
  datetime.date(2024, 2, 22)),
 (67,
  'Frank Johnson',
  60,
  'Female',
  335.989990234375,
  datetime.date(2023, 10, 3)),
 (68,
  'Frank Miller',
  34,
  'Female',
  873.3599853515625,
  datetime.date(2024, 1, 27)),
 (69,
  'Bob Martinez',
  50,
  'Female',
  574.5399780273438,
  datetime.date(2024, 5, 9)),
 (70, 'Bob Williams', 48, 'Female', 711.75, datetime.date(2024, 4, 11)),
 (71,
  'Henry Williams',
  41,
  'Female',
  323.6600036621094,
  datetime.date(2023, 8, 20)),
 (72,
  'Frank Miller',
  66,
  'Female',
  932.3599853515625,
  datetime.date(2024, 2, 19)),
 (73,
  'Jack Rodriguez',
  70,
  'Male',
  114.87999725341797,
  datetime.date(2023, 6, 21)),
 (74,
  'Emma Johnson',
  21,
  'Female',
  529.7100219726562,
  datetime.date(2023, 8, 11)),
 (75,
  'Ivy Williams',
  24,
  'Male',
  779.4099731445312,
  datetime.date(2023, 12, 4)),
 (76,
  'David Rodriguez',
  23,
  'Male',
  212.2899932861328,
  datetime.date(2024, 3, 16)),
 (77,
  'Frank Rodriguez',
  69,
  'Female',
  586.6699829101562,
  datetime.date(2024, 4, 25)),
 (78,
  'Charlie Miller',
  24,
  'Male',
  510.70001220703125,
  datetime.date(2024, 2, 4)),
 (79, 'Bob Brown', 27, 'Female', 761.489990234375, datetime.date(2024, 5, 20)),
 (80,
  'Charlie Jones',
  38,
  'Female',
  282.3500061035156,
  datetime.date(2024, 4, 14)),
 (81, 'Bob Rodriguez', 54, 'Female', 439.0, datetime.date(2024, 3, 9)),
 (82,
  'Jack Miller',
  64,
  'Female',
  293.95001220703125,
  datetime.date(2023, 10, 25)),
 (83,
  'Alice Martinez',
  41,
  'Female',
  185.8300018310547,
  datetime.date(2024, 2, 20)),
 (84, 'David Jones', 25, 'Male', 578.27001953125, datetime.date(2023, 7, 14)),
 (85,
  'Emma Jones',
  69,
  'Female',
  480.2099914550781,
  datetime.date(2024, 5, 17)),
 (86, 'Bob Garcia', 34, 'Male', 906.1699829101562, datetime.date(2024, 1, 27)),
 (87,
  'Henry Johnson',
  27,
  'Female',
  586.8200073242188,
  datetime.date(2023, 8, 2)),
 (88,
  'Jack Rodriguez',
  30,
  'Male',
  840.4299926757812,
  datetime.date(2023, 7, 27)),
 (89,
  'Alice Smith',
  19,
  'Female',
  602.6300048828125,
  datetime.date(2024, 4, 1)),
 (90,
  'Ivy Davis',
  55,
  'Female',
  405.70001220703125,
  datetime.date(2024, 4, 10)),
 (91,
  'Alice Jones',
  64,
  'Female',
  960.030029296875,
  datetime.date(2023, 12, 26)),
 (92,
  'Ivy Brown',
  19,
  'Female',
  676.0800170898438,
  datetime.date(2023, 12, 18)),
 (93,
  'Bob Rodriguez',
  26,
  'Male',
  891.4600219726562,
  datetime.date(2024, 1, 22)),
 (94, 'Ivy Brown', 56, 'Male', 489.2200012207031, datetime.date(2024, 5, 3)),
 (95,
  'Jack Brown',
  51,
  'Female',
  649.8800048828125,
  datetime.date(2024, 5, 13)),
 (96,
  'Grace Miller',
  42,
  'Male',
  461.1600036621094,
  datetime.date(2023, 12, 3)),
 (97, 'Ivy Brown', 21, 'Male', 465.45001220703125, datetime.date(2023, 9, 6)),
 (98, 'Grace Davis', 42, 'Male', 796.25, datetime.date(2023, 7, 7)),
 (84, 'David Jones', 25, 'Male', 578.27001953125, datetime.date(2023, 7, 14)),
 (85,
  'Emma Jones',
  69,
  'Female',
  480.2099914550781,
  datetime.date(2024, 5, 17)),
 (86, 'Bob Garcia', 34, 'Male', 906.1699829101562, datetime.date(2024, 1, 27)),
 (87,
  'Henry Johnson',
  27,
  'Female',
  586.8200073242188,
  datetime.date(2023, 8, 2)),
 (88,
  'Jack Rodriguez',
  30,
  'Male',
  840.4299926757812,
  datetime.date(2023, 7, 27)),
 (89,
  'Alice Smith',
  19,
  'Female',
  602.6300048828125,
  datetime.date(2024, 4, 1)),
 (90,
  'Ivy Davis',
  55,
  'Female',
  405.70001220703125,
  datetime.date(2024, 4, 10)),
 (91,
  'Alice Jones',
  64,
  'Female',
  960.030029296875,
  datetime.date(2023, 12, 26)),
 (99,
  'Alice Johnson',
  None,
  'Female',
  781.8300170898438,
  datetime.date(2023, 6, 4)),
 (100,
  'Jack Garcia',
  None,
  'Female',
  269.6400146484375,
  datetime.date(2024, 3, 8))]

In [45]:
# Question: How do you remove duplicate rows based on customer ID in DuckDB?
duckdb_conn.execute("CREATE TABLE IF NOT EXISTS data_unique AS SELECT DISTINCT * FROM data")

duckdb_conn.execute("SELECT * FROM data_unique").fetchall()

[(29,
  'Charlie Garcia',
  42,
  'Female',
  696.1900024414062,
  datetime.date(2023, 7, 26)),
 (53,
  'Alice Miller',
  31,
  'Female',
  396.19000244140625,
  datetime.date(2023, 9, 17)),
 (78,
  'Charlie Miller',
  24,
  'Male',
  510.70001220703125,
  datetime.date(2024, 2, 4)),
 (87,
  'Henry Johnson',
  27,
  'Female',
  586.8200073242188,
  datetime.date(2023, 8, 2)),
 (100,
  'Jack Garcia',
  None,
  'Female',
  269.6400146484375,
  datetime.date(2024, 3, 8)),
 (13,
  'Charlie Jones',
  24,
  'Female',
  330.8699951171875,
  datetime.date(2023, 11, 11)),
 (35,
  'Grace Williams',
  58,
  'Male',
  139.00999450683594,
  datetime.date(2024, 4, 23)),
 (37, 'Ivy Miller', 37, 'Male', 787.0599975585938, datetime.date(2024, 5, 4)),
 (60,
  'David Davis',
  42,
  'Male',
  698.8200073242188,
  datetime.date(2023, 11, 21)),
 (65,
  'Bob Garcia',
  32,
  'Female',
  726.8699951171875,
  datetime.date(2024, 1, 6)),
 (66,
  'Alice Davis',
  68,
  'Male',
  377.1099853515625,
  datetime.date(2024, 2, 22)),
 (68,
  'Frank Miller',
  34,
  'Female',
  873.3599853515625,
  datetime.date(2024, 1, 27)),
 (69,
  'Bob Martinez',
  50,
  'Female',
  574.5399780273438,
  datetime.date(2024, 5, 9)),
 (80,
  'Charlie Jones',
  38,
  'Female',
  282.3500061035156,
  datetime.date(2024, 4, 14)),
 (88,
  'Jack Rodriguez',
  30,
  'Male',
  840.4299926757812,
  datetime.date(2023, 7, 27)),
 (3,
  'Frank Martinez',
  20,
  'Female',
  443.4700012207031,
  datetime.date(2024, 5, 16)),
 (5,
  'Frank Miller',
  33,
  'Female',
  651.2000122070312,
  datetime.date(2024, 5, 23)),
 (6,
  'Emma Garcia',
  22,
  'Female',
  477.55999755859375,
  datetime.date(2023, 9, 2)),
 (12,
  'Ivy Martinez',
  68,
  'Male',
  470.45001220703125,
  datetime.date(2023, 6, 5)),
 (18,
  'Jack Martinez',
  64,
  'Female',
  831.7999877929688,
  datetime.date(2023, 11, 7)),
 (27,
  'Ivy Martinez',
  22,
  'Female',
  115.68000030517578,
  datetime.date(2023, 8, 24)),
 (30,
  'Grace Davis',
  30,
  'Female',
  566.1300048828125,
  datetime.date(2023, 7, 18)),
 (43,
  'Bob Williams',
  35,
  'Female',
  319.5799865722656,
  datetime.date(2024, 3, 29)),
 (51,
  'Frank Brown',
  46,
  'Male',
  621.469970703125,
  datetime.date(2023, 12, 30)),
 (55,
  'Grace Brown',
  50,
  'Male',
  388.9200134277344,
  datetime.date(2023, 12, 20)),
 (63,
  'David Rodriguez',
  48,
  'Male',
  447.0899963378906,
  datetime.date(2023, 9, 5)),
 (67,
  'Frank Johnson',
  60,
  'Female',
  335.989990234375,
  datetime.date(2023, 10, 3)),
 (74,
  'Emma Johnson',
  21,
  'Female',
  529.7100219726562,
  datetime.date(2023, 8, 11)),
 (81, 'Bob Rodriguez', 54, 'Female', 439.0, datetime.date(2024, 3, 9)),
 (98, 'Grace Davis', 42, 'Male', 796.25, datetime.date(2023, 7, 7)),
 (2,
  'Emma Rodriguez',
  24,
  'Male',
  62.400001525878906,
  datetime.date(2024, 4, 16)),
 (4,
  'Alice Rodriguez',
  62,
  'Female',
  729.6900024414062,
  datetime.date(2024, 1, 5)),
 (16,
  'Grace Miller',
  36,
  'Female',
  691.8499755859375,
  datetime.date(2023, 9, 25)),
 (17,
  'Charlie Miller',
  27,
  'Male',
  840.6699829101562,
  datetime.date(2023, 7, 9)),
 (24,
  'Ivy Martinez',
  42,
  'Male',
  620.280029296875,
  datetime.date(2024, 1, 19)),
 (25,
  'David Johnson',
  41,
  'Female',
  964.0399780273438,
  datetime.date(2023, 12, 30)),
 (26,
  'David Smith',
  36,
  'Female',
  231.8800048828125,
  datetime.date(2024, 5, 27)),
 (32,
  'Emma Jones',
  58,
  'Male',
  299.82000732421875,
  datetime.date(2024, 3, 21)),
 (36,
  'Frank Johnson',
  54,
  'Female',
  637.0499877929688,
  datetime.date(2023, 8, 6)),
 (41,
  'Alice Jones',
  23,
  'Male',
  373.0299987792969,
  datetime.date(2024, 3, 16)),
 (45,
  'Frank Martinez',
  38,
  'Male',
  313.45001220703125,
  datetime.date(2024, 1, 14)),
 (50,
  'Bob Smith',
  38,
  'Female',
  104.47000122070312,
  datetime.date(2023, 12, 31)),
 (54,
  'Emma Martinez',
  39,
  'Female',
  778.260009765625,
  datetime.date(2024, 5, 8)),
 (56,
  'Henry Miller',
  56,
  'Male',
  85.8499984741211,
  datetime.date(2024, 2, 26)),
 (61,
  'Bob Garcia',
  18,
  'Male',
  194.19000244140625,
  datetime.date(2023, 12, 23)),
 (64, 'Henry Brown', 35, 'Male', 823.0, datetime.date(2023, 10, 8)),
 (72,
  'Frank Miller',
  66,
  'Female',
  932.3599853515625,
  datetime.date(2024, 2, 19)),
 (91,
  'Alice Jones',
  64,
  'Female',
  960.030029296875,
  datetime.date(2023, 12, 26)),
 (94, 'Ivy Brown', 56, 'Male', 489.2200012207031, datetime.date(2024, 5, 3)),
 (96,
  'Grace Miller',
  42,
  'Male',
  461.1600036621094,
  datetime.date(2023, 12, 3)),
 (8, 'Henry Smith', 41, 'Male', 291.2799987792969, datetime.date(2024, 2, 1)),
 (15,
  'Alice Jones',
  53,
  'Male',
  647.1300048828125,
  datetime.date(2023, 12, 7)),
 (19,
  'Emma Martinez',
  64,
  'Female',
  399.760009765625,
  datetime.date(2024, 2, 4)),
 (21,
  'Grace Rodriguez',
  21,
  'Female',
  389.69000244140625,
  datetime.date(2023, 7, 19)),
 (22, 'Ivy Brown', 34, 'Male', 697.0, datetime.date(2023, 7, 15)),
 (33,
  'Grace Rodriguez',
  43,
  'Male',
  366.4200134277344,
  datetime.date(2023, 7, 30)),
 (34,
  'Alice Garcia',
  54,
  'Male',
  874.0800170898438,
  datetime.date(2024, 4, 17)),
 (39,
  'Grace Garcia',
  23,
  'Male',
  901.8200073242188,
  datetime.date(2023, 12, 9)),
 (42,
  'Charlie Smith',
  66,
  'Male',
  392.2699890136719,
  datetime.date(2023, 11, 3)),
 (47,
  'Grace Rodriguez',
  23,
  'Female',
  933.6300048828125,
  datetime.date(2024, 3, 18)),
 (57,
  'Charlie Martinez',
  40,
  'Female',
  268.4100036621094,
  datetime.date(2023, 8, 29)),
 (62,
  'Alice Davis',
  50,
  'Male',
  376.79998779296875,
  datetime.date(2024, 3, 20)),
 (73,
  'Jack Rodriguez',
  70,
  'Male',
  114.87999725341797,
  datetime.date(2023, 6, 21)),
 (79, 'Bob Brown', 27, 'Female', 761.489990234375, datetime.date(2024, 5, 20)),
 (1, 'Henry Jones', 32, 'Male', 1080000.625, datetime.date(2023, 8, 15)),
 (7,
  'Grace Jones',
  53,
  'Female',
  29.719999313354492,
  datetime.date(2023, 10, 1)),
 (9,
  'Emma Jones',
  50,
  'Female',
  575.6900024414062,
  datetime.date(2023, 12, 11)),
 (14,
  'Frank Rodriguez',
  51,
  'Female',
  483.6099853515625,
  datetime.date(2024, 5, 6)),
 (20,
  'Grace Miller',
  56,
  'Male',
  917.9299926757812,
  datetime.date(2023, 12, 24)),
 (38,
  'Charlie Rodriguez',
  52,
  'Female',
  853.469970703125,
  datetime.date(2023, 11, 26)),
 (58,
  'Alice Jones',
  50,
  'Male',
  397.8900146484375,
  datetime.date(2023, 10, 4)),
 (70, 'Bob Williams', 48, 'Female', 711.75, datetime.date(2024, 4, 11)),
 (71,
  'Henry Williams',
  41,
  'Female',
  323.6600036621094,
  datetime.date(2023, 8, 20)),
 (95,
  'Jack Brown',
  51,
  'Female',
  649.8800048828125,
  datetime.date(2024, 5, 13)),
 (10,
  'Ivy Martinez',
  44,
  'Female',
  30.959999084472656,
  datetime.date(2024, 5, 11)),
 (31,
  'Grace Smith',
  19,
  'Male',
  567.2999877929688,
  datetime.date(2024, 4, 13)),
 (40,
  'Emma Martinez',
  61,
  'Male',
  180.9199981689453,
  datetime.date(2023, 10, 2)),
 (49,
  'Alice Brown',
  29,
  'Female',
  920.489990234375,
  datetime.date(2024, 4, 30)),
 (59,
  'Grace Martinez',
  37,
  'Male',
  588.02001953125,
  datetime.date(2024, 3, 13)),
 (75,
  'Ivy Williams',
  24,
  'Male',
  779.4099731445312,
  datetime.date(2023, 12, 4)),
 (77,
  'Frank Rodriguez',
  69,
  'Female',
  586.6699829101562,
  datetime.date(2024, 4, 25)),
 (84, 'David Jones', 25, 'Male', 578.27001953125, datetime.date(2023, 7, 14)),
 (85,
  'Emma Jones',
  69,
  'Female',
  480.2099914550781,
  datetime.date(2024, 5, 17)),
 (86, 'Bob Garcia', 34, 'Male', 906.1699829101562, datetime.date(2024, 1, 27)),
 (89,
  'Alice Smith',
  19,
  'Female',
  602.6300048828125,
  datetime.date(2024, 4, 1)),
 (92,
  'Ivy Brown',
  19,
  'Female',
  676.0800170898438,
  datetime.date(2023, 12, 18)),
 (97, 'Ivy Brown', 21, 'Male', 465.45001220703125, datetime.date(2023, 9, 6)),
 (11,
  'Grace Miller',
  29,
  'Male',
  321.4200134277344,
  datetime.date(2023, 10, 25)),
 (23,
  'Jack Miller',
  55,
  'Male',
  838.010009765625,
  datetime.date(2023, 10, 22)),
 (28,
  'Henry Martinez',
  62,
  'Male',
  735.6599731445312,
  datetime.date(2023, 12, 7)),
 (44,
  'Frank Garcia',
  24,
  'Male',
  917.6300048828125,
  datetime.date(2023, 7, 26)),
 (46, 'Ivy Brown', 47, 'Female', 349.8800048828125, datetime.date(2023, 7, 5)),
 (48,
  'Alice Smith',
  23,
  'Female',
  762.8599853515625,
  datetime.date(2024, 3, 4)),
 (52,
  'Frank Johnson',
  54,
  'Female',
  281.3500061035156,
  datetime.date(2023, 7, 2)),
 (76,
  'David Rodriguez',
  23,
  'Male',
  212.2899932861328,
  datetime.date(2024, 3, 16)),
 (82,
  'Jack Miller',
  64,
  'Female',
  293.95001220703125,
  datetime.date(2023, 10, 25)),
 (83,
  'Alice Martinez',
  41,
  'Female',
  185.8300018310547,
  datetime.date(2024, 2, 20)),
 (90,
  'Ivy Davis',
  55,
  'Female',
  405.70001220703125,
  datetime.date(2024, 4, 10)),
 (93,
  'Bob Rodriguez',
  26,
  'Male',
  891.4600219726562,
  datetime.date(2024, 1, 22)),
 (99,
  'Alice Johnson',
  None,
  'Female',
  781.8300170898438,
  datetime.date(2023, 6, 4))]

In [46]:
# Question: How do you handle missing values by replacing them with 0 in DuckDB?
duckdb_conn.execute("""
                    CREATE TABLE data_unique_cleaned AS
                    SELECT
                        Customer_ID, 
                        Customer_Name,
                        CAST(COALESCE(CAST(Age AS INT), 0) AS INT) AS Age,
                        Gender,
                        CAST(COALESCE(CAST(Purchase_amount AS FLOAT), 0.0) AS FLOAT) AS Purchase_amount,
                        Purchase_date
                    FROM data_unique;
                    """)

In [53]:
# Question: How do you remove outliers (e.g., age > 100 or purchase amount > 1000) in DuckDB?
duckdb_conn.execute("""
                    CREATE TABLE IF NOT EXISTS data_cleaned_outliers AS
                    SELECT
                    *
                    FROM data_unique_cleaned
                    WHERE age <= 100
                    AND purchase_amount <= 1000;
                    """)

duckdb_conn.execute("SELECT * FROM data_cleaned_outliers LIMIT 5").fetchall()

[(29,
  'Charlie Garcia',
  42,
  '0',
  696.1900024414062,
  datetime.date(2023, 7, 26)),
 (53, 'Alice Miller', 31, '0', 396.19000244140625, datetime.date(2023, 9, 17)),
 (78,
  'Charlie Miller',
  24,
  '1',
  510.70001220703125,
  datetime.date(2024, 2, 4)),
 (87, 'Henry Johnson', 27, '0', 586.8200073242188, datetime.date(2023, 8, 2)),
 (100, 'Jack Garcia', 0, '0', 269.6400146484375, datetime.date(2024, 3, 8))]

In [54]:
# Question: How do you convert the Gender column to a binary format (0 for Female, 1 for Male) in DuckDB?
query_1 = """
        UPDATE data_cleaned_outliers
        SET Gender = 0
        WHERE Gender = 'Female';
            """

query_2 = """
        UPDATE data_cleaned_outliers
        SET Gender = 1
        WHERE Gender = 'Male';
            """

duckdb_conn.execute(query_1)
duckdb_conn.execute(query_2)

duckdb_conn.execute("SELECT * FROM data_cleaned_outliers LIMIT 5").fetchall()

[(29,
  'Charlie Garcia',
  42,
  '0',
  696.1900024414062,
  datetime.date(2023, 7, 26)),
 (53, 'Alice Miller', 31, '0', 396.19000244140625, datetime.date(2023, 9, 17)),
 (78,
  'Charlie Miller',
  24,
  '1',
  510.70001220703125,
  datetime.date(2024, 2, 4)),
 (87, 'Henry Johnson', 27, '0', 586.8200073242188, datetime.date(2023, 8, 2)),
 (100, 'Jack Garcia', 0, '0', 269.6400146484375, datetime.date(2024, 3, 8))]

In [55]:
# Question: How do you split the Customer_Name column into separate First_Name and Last_Name columns in DuckDB?
#duckdb_conn.execute("INSERT INTO data_cleaned_outliers VALUES (110, 'Joyan', 25, 1, 580.9, '2024-03-31')")
query = """
        SELECT
        Customer_ID, 
        split_part(Customer_Name,' ', 1) as First_Name,
        CASE
        WHEN split_part(Customer_Name,' ', 2) = ''
        THEN NULL
        ELSE split_part(Customer_Name,' ', 2) 
        END as Last_Name,
        Age,
        Gender,
        Purchase_amount,
        Purchase_date
        FROM 
        data_cleaned_outliers
        """
duckdb_conn.execute(f"CREATE TABLE IF NOT EXISTS data_transformed AS {query}")

In [56]:
# Question: How do you calculate the total purchase amount by Gender in DuckDB?
query = """ 
        SELECT
        Gender,
        SUM(Purchase_amount) as total_purchase_amount
        FROM data_transformed
        GROUP BY gender
        """
duckdb_conn.execute(query).fetchall()

[('0', 28215.77996635437), ('1', 1104600.5150527954)]

In [57]:
# Question: How do you calculate the average purchase amount by Age group in DuckDB?
average_purchase_by_age_group = duckdb_conn.execute(
    "SELECT CASE \
                                             WHEN Age BETWEEN 18 AND 30 THEN '18-30' \
                                             WHEN Age BETWEEN 31 AND 40 THEN '31-40' \
                                             WHEN Age BETWEEN 41 AND 50 THEN '41-50' \
                                             WHEN Age BETWEEN 51 AND 60 THEN '51-60' \
                                             ELSE '61-70' END AS Age_Group, \
                                             AVG(Purchase_Amount) AS Average_Purchase_Amount \
                                             FROM data_transformed \
                                             GROUP BY Age_Group"
).fetchall()
average_purchase_by_age_group

[('41-50', 493.946000289917),
 ('51-60', 494.51882250168745),
 ('18-30', 570.8131050899111),
 ('61-70', 533.576874256134),
 ('31-40', 60524.43027750651)]